<div class="screen">
  <mat-toolbar *ngIf="telasSemMenu">
    <div class="logo">
      <img src="../assets/images/logo.png" class="logo-image" />
    </div>
    <div class="page-title">
      <span>{{ page }}</span>
      <mat-label>Empresa em uso</mat-label>
      <mat-select [(ngModel)]="authService.empresaSelected" *ngIf="empresas" (selectionChange)="changeEmpresa($event)">
        <mat-option *ngFor="let item of empresas" [value]="item">
            {{ item.nomeEmpresa }}
        </mat-option>
      </mat-select>
      <div>
        <button mat-icon-button>
          <mat-icon color="primary" (click)="logout()">logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <div class="body" *ngIf="telasSemMenu">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened class="sidenav">
        <mat-nav-list>
          <ng-container *ngFor="let rota of rotas">
            <a
              *ngIf="VerificaRenderizacao(rota)"
              mat-list-item
              [routerLink]="rota.link"
              routerLinkActive="active-link"
            >
              <mat-icon color="primary">{{ rota.icon }}</mat-icon>
              {{ rota.label }}
            </a>
          </ng-container>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
    <router-outlet style="padding: 1%"></router-outlet>
  </div>
  <router-outlet *ngIf="!telasSemMenu"></router-outlet>
</div>
