@use '../styles.scss' as styles;

// Customize the entire app. Change :root to your selector if you want to scope the styles.

.body {
    display: flex;
    flex-direction: row;
}

.sidenav-container {
    height: 90vh;
    width: styles.$width-menu-lateral;
}

.sidenav {
    width: styles.$width-menu-lateral;
    background: #f4f4f4;
    
}

.collapsed {
    width: 60px !important;
}

.menu-item {
    display: flex;
    gap: 10px;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 0;
    
    .page-title {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        width: 100vw;
    
        .drawer-logo {
            height: 10vh;
            width: 13vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-image {
                width: 40%;
                height: 40%;
                object-fit: contain;
                object-position: center;
                margin-right: 5vw;
            }
        }
        
        .page-info {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 85vw;
            
            .empresa-selected {
                // border: 1px solid gray;
                font-size: large;
                gap: 1vw;
                display: flex;
                align-items: center;
                width: 20vw;
                height: 5vh;
                padding: 1%;
                
                mat-select {
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                    height: 4vh;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .logout {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2vw;
        }
    }
}


.router-wrapper {
    overflow-y: auto;
    height: fit-content;
    width: 100%;
}

::ng-deep .snack-bar-success :first-child {
    background-color: #4caf50 !important;
    color: white !important;
}

::ng-deep .snack-bar-failed :first-child {
    background-color: rgb(240, 53, 53) !important;
    color: white !important;
}

