$width-menu-lateral: 20vw;
// Customize the entire app. Change :root to your selector if you want to scope the styles.

.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: row;
}

.sidenav-container {
    height: 90vh;
}

.sidenav {
    width: $width-menu-lateral;
    background: #f4f4f4;

}

mat-nav-list a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 0;
}

.logo {
    width: $width-menu-lateral;
    display: flex;
    justify-content: center;
}

.page-title {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 0vw;
    width: 98vw - $width-menu-lateral;
}