.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 250px;
    background: #f4f4f4;
  }
  
  mat-nav-list a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
  }
  