<form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="mat-elevation-z2 form">
    <h1>{{ titulo }}</h1>
    <p>{{ subtitulo }}</p>

    <!-- Agrupando os campos por linha -->
    <div *ngFor="let linha of linhas">
        <div class="linha">
            <div *ngFor="let campo of linha">
                <!-- Campo invisível -->
                <input [id]="campo.nome" *ngIf="campo.invisivel" [formControlName]="campo.nome" type="hidden" #controle>

                <!-- Campo de texto ou senha -->
                <mat-form-field appearance="fill" class="campo"
                    *ngIf="!campo.invisivel && verificarCondicao(campo.condicao) && (campo.tipo == 0 || campo.tipo == 3)">
                    <mat-label>{{ campo.titulo }}</mat-label>
                    <input [id]="campo.nome" matInput [formControlName]="campo.nome" #controle
                        [type]="campo.tipo == 3 ? 'password' : 'text'" [maxlength]="campo.maximo ?? null" [readonly]="campo.readonly">
                    <mat-error *ngIf="form.get(campo.nome)?.errors?.['required']">
                        Este campo é obrigatório.
                    </mat-error>
                    <mat-error *ngIf="form.get(campo.nome)?.errors?.['email']">
                        O e-mail informado é inválido.
                    </mat-error>
                    <mat-error *ngIf="form.get(campo.nome)?.errors?.['cpfCnpjInvalido']">
                        O CPF/CNPJ informado é inválido.
                    </mat-error>
                    <mat-error *ngIf="form.get(campo.nome)?.errors?.['rgInvalido']">
                        O RG informado é inválido.
                    </mat-error>
                </mat-form-field>

                <!-- Campo de data -->
                <mat-form-field appearance="fill" class="campo" *ngIf="!campo.invisivel && campo.tipo == 2  && verificarCondicao(campo.condicao)">
                    <mat-label>{{ campo.titulo }}</mat-label>
                    <input [id]="campo.nome" matInput [matDatepicker]="picker" [formControlName]="campo.nome" #controle (selectionChange)="campo.change" [min]="campo.minData" [max]="campo.maxData">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- Campo de checkbox -->
                <div class="campo" *ngIf="!campo.invisivel && campo.tipo == 4  && verificarCondicao(campo.condicao)">
                    <mat-checkbox #controle [formControlName]="campo.nome">
                        {{ campo.titulo }}
                    </mat-checkbox>
                </div>

                <mat-form-field *ngIf="!campo.invisivel && campo.tipo == 5  && verificarCondicao(campo.condicao)" appearance="fill">
                    <mat-label>{{ campo.titulo }}</mat-label>
                    <mat-select [id]="campo.nome" [formControlName]="campo.nome" multiple #controle (selectionChange)="campo.change ? callDynamicChange($event, campo) : null">
                        <mat-option *ngFor="let item of campo.listaObservable | async" [value]="item.valor">
                            {{ item.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-slide-toggle *ngIf="!campo.invisivel && campo.tipo == 6  && verificarCondicao(campo.condicao)" [formControlName]="campo.nome" [checked]="form.get(campo.nome)?.value" #controle (change)="campo.change ? callDynamicChange($event, campo) : null">
                    {{ campo.titulo }}
                </mat-slide-toggle>
                
                <mat-form-field *ngIf="!campo.invisivel && campo.tipo == 7 && verificarCondicao(campo.condicao)" appearance="fill">
                    <mat-label>{{ campo.titulo }}</mat-label>
                    <mat-select [id]="campo.nome" [formControlName]="campo.nome" #controle (selectionChange)="campo.change ? callDynamicChange($event, campo) : null">
                        <mat-option *ngFor="let item of campo.listaObservable | async" [value]="item.valor">
                            {{ item.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <ng-content></ng-content>
</form>